In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/HOME_전력거래_연료비용.csv', encoding = 'cp949')

In [3]:
df

,기간,연료단가,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,열량단가,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,연료비단가,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
1,NaN,원/kWh,원/ton,원/ton,원/kl,원/ton,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/kWh,원/kWh,원/kWh,원/kWh,원/kWh
2,2018/12,5.847,140694.296,185557.605,740967.73,827983.687,2358.06,25876.43,27495.52,73126.38,64527.96,5.85,58.48,69.21,191.81,114.05
3,2018/11,5.844,140103.67,178322.55,735055.293,773508.071,2356.91,25961.04,24404.78,72274.12,62058.44,5.844,58.125,63.367,188.669,107.953
4,2018/10,5.8428,138921.3905,188445.1388,724956.2971,748848.0691,2356.2762,25593.478,26126.1276,70384.0976,59419.453,5.8428,57.3267,67.7609,184.5094,103.3931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2013/05,4.465005714,91783.83312,159742.9098,918557.0779,1053437.867,1790.29477,16650.8391,22524.43113,88674,72208.80359,4.465005714,37.74085354,60.82619836,233.7158103,133.3558817
70,2013/04,4.435291967,90248.61791,164690.8551,920513.9306,1048822.14,1778.031561,16273.64367,22898.91237,90649.15257,74864.66656,4.435291967,36.87133685,61.78215113,232.8152307,138.0058847
71,2013/03,4.40428799,95610.09442,164235.2945,888435.9981,1026930.566,1765.73673,17272.1583,22379.12955,86886.71352,77982.83328,4.40428799,39.14856492,60.54163758,224.6919061,144.0032022
72,2013/02,4.356258206,92797.80869,166184.2316,894002.2858,980258.1382,1746.913115,16702.69443,26811.99492,87229.5486,76367.51455,4.356258206,37.8258917,72.3294946,226.6776014,141.0387492
73,2013/01,4.319404801,95421.7497,156076.5996,911391.4189,851084.7269,1732.274774,17310.61994,26769.1115,89304.17967,73545.88947,4.319404801,39.25782221,72.16788445,230.6557772,138.3021893

In [4]:
df.columns.get_loc("Unnamed: 2")

2

In [5]:
df['기간'] = pd.to_datetime(df['기간'])
df

,기간,연료단가,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,열량단가,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,연료비단가,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaT,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
1,NaT,원/kWh,원/ton,원/ton,원/kl,원/ton,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/kWh,원/kWh,원/kWh,원/kWh,원/kWh
2,2018-12-01,5.847,140694.296,185557.605,740967.73,827983.687,2358.06,25876.43,27495.52,73126.38,64527.96,5.85,58.48,69.21,191.81,114.05
3,2018-11-01,5.844,140103.67,178322.55,735055.293,773508.071,2356.91,25961.04,24404.78,72274.12,62058.44,5.844,58.125,63.367,188.669,107.953
4,2018-10-01,5.8428,138921.3905,188445.1388,724956.2971,748848.0691,2356.2762,25593.478,26126.1276,70384.0976,59419.453,5.8428,57.3267,67.7609,184.5094,103.3931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2013-05-01,4.465005714,91783.83312,159742.9098,918557.0779,1053437.867,1790.29477,16650.8391,22524.43113,88674,72208.80359,4.465005714,37.74085354,60.82619836,233.7158103,133.3558817
70,2013-04-01,4.435291967,90248.61791,164690.8551,920513.9306,1048822.14,1778.031561,16273.64367,22898.91237,90649.15257,74864.66656,4.435291967,36.87133685,61.78215113,232.8152307,138.0058847
71,2013-03-01,4.40428799,95610.09442,164235.2945,888435.9981,1026930.566,1765.73673,17272.1583,22379.12955,86886.71352,77982.83328,4.40428799,39.14856492,60.54163758,224.6919061,144.0032022
72,2013-02-01,4.356258206,92797.80869,166184.2316,894002.2858,980258.1382,1746.913115,16702.69443,26811.99492,87229.5486,76367.51455,4.356258206,37.8258917,72.3294946,226.6776014,141.0387492
73,2013-01-01,4.319404801,95421.7497,156076.5996,911391.4189,851084.7269,1732.274774,17310.61994,26769.1115,89304.17967,73545.88947,4.319404801,39.25782221,72.16788445,230.6557772,138.3021893

In [6]:
df.columns = df.iloc[0]
df.head(3)

,NaN,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
0,NaT,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
1,NaT,원/kWh,원/ton,원/ton,원/kl,원/ton,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/kWh,원/kWh,원/kWh,원/kWh,원/kWh
2,2018-12-01,5.847,140694.296,185557.605,740967.73,827983.687,2358.06,25876.43,27495.52,73126.38,64527.96,5.85,58.48,69.21,191.81,114.05

In [7]:
df.columns

Index([  NaT, '원자력', '유연탄', '무연탄',  '유류', 'LNG', '원자력', '유연탄', '무연탄',  '유류',
       'LNG', '원자력', '유연탄', '무연탄',  '유류', 'LNG'],
      dtype='object', name=0)

In [8]:
df.head(3)

,NaN,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
0,NaT,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
1,NaT,원/kWh,원/ton,원/ton,원/kl,원/ton,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/kWh,원/kWh,원/kWh,원/kWh,원/kWh
2,2018-12-01,5.847,140694.296,185557.605,740967.73,827983.687,2358.06,25876.43,27495.52,73126.38,64527.96,5.85,58.48,69.21,191.81,114.05

In [9]:
df.isnull().sum()

0
NaN    2
원자력    0
유연탄    0
무연탄    0
유류     0
LNG    0
원자력    0
유연탄    0
무연탄    0
유류     0
LNG    0
원자력    0
유연탄    0
무연탄    0
유류     0
LNG    0
dtype: int64

In [10]:
df.columns

Index([  NaT, '원자력', '유연탄', '무연탄',  '유류', 'LNG', '원자력', '유연탄', '무연탄',  '유류',
       'LNG', '원자력', '유연탄', '무연탄',  '유류', 'LNG'],
      dtype='object', name=0)

In [11]:
df.columns = df.columns.fillna('기간')
df

,기간,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
0,NaT,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
1,NaT,원/kWh,원/ton,원/ton,원/kl,원/ton,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/Gcal,원/kWh,원/kWh,원/kWh,원/kWh,원/kWh
2,2018-12-01,5.847,140694.296,185557.605,740967.73,827983.687,2358.06,25876.43,27495.52,73126.38,64527.96,5.85,58.48,69.21,191.81,114.05
3,2018-11-01,5.844,140103.67,178322.55,735055.293,773508.071,2356.91,25961.04,24404.78,72274.12,62058.44,5.844,58.125,63.367,188.669,107.953
4,2018-10-01,5.8428,138921.3905,188445.1388,724956.2971,748848.0691,2356.2762,25593.478,26126.1276,70384.0976,59419.453,5.8428,57.3267,67.7609,184.5094,103.3931
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2013-05-01,4.465005714,91783.83312,159742.9098,918557.0779,1053437.867,1790.29477,16650.8391,22524.43113,88674,72208.80359,4.465005714,37.74085354,60.82619836,233.7158103,133.3558817
70,2013-04-01,4.435291967,90248.61791,164690.8551,920513.9306,1048822.14,1778.031561,16273.64367,22898.91237,90649.15257,74864.66656,4.435291967,36.87133685,61.78215113,232.8152307,138.0058847
71,2013-03-01,4.40428799,95610.09442,164235.2945,888435.9981,1026930.566,1765.73673,17272.1583,22379.12955,86886.71352,77982.83328,4.40428799,39.14856492,60.54163758,224.6919061,144.0032022
72,2013-02-01,4.356258206,92797.80869,166184.2316,894002.2858,980258.1382,1746.913115,16702.69443,26811.99492,87229.5486,76367.51455,4.356258206,37.8258917,72.3294946,226.6776014,141.0387492
73,2013-01-01,4.319404801,95421.7497,156076.5996,911391.4189,851084.7269,1732.274774,17310.61994,26769.1115,89304.17967,73545.88947,4.319404801,39.25782221,72.16788445,230.6557772,138.3021893

In [12]:
df = df.drop(labels=[0, 1], axis=0) # row 드롭 위해선 label

In [15]:
df

,기간,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG,원자력,유연탄,무연탄,유류,LNG
2,2018-12-01,5.847,140694.296,185557.605,740967.73,827983.687,2358.06,25876.43,27495.52,73126.38,64527.96,5.85,58.48,69.21,191.81,114.05
3,2018-11-01,5.844,140103.67,178322.55,735055.293,773508.071,2356.91,25961.04,24404.78,72274.12,62058.44,5.844,58.125,63.367,188.669,107.953
4,2018-10-01,5.8428,138921.3905,188445.1388,724956.2971,748848.0691,2356.2762,25593.478,26126.1276,70384.0976,59419.453,5.8428,57.3267,67.7609,184.5094,103.3931
5,2018-09-01,5.84,133207.25,183501.03,680428.08,705924.58,2353.8,24428.19,23931.93,66412.83,57228.25,5.84,54.72,61.95,172.22,99.59
6,2018-08-01,5.84,133781.25,184009.49,621191.32,694954.2,2354.05,24541.66,24041.91,61131.7,53747.28,5.84,54.96,62.36,160.62,93.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2013-05-01,4.465005714,91783.83312,159742.9098,918557.0779,1053437.867,1790.29477,16650.8391,22524.43113,88674,72208.80359,4.465005714,37.74085354,60.82619836,233.7158103,133.3558817
70,2013-04-01,4.435291967,90248.61791,164690.8551,920513.9306,1048822.14,1778.031561,16273.64367,22898.91237,90649.15257,74864.66656,4.435291967,36.87133685,61.78215113,232.8152307,138.0058847
71,2013-03-01,4.40428799,95610.09442,164235.2945,888435.9981,1026930.566,1765.73673,17272.1583,22379.12955,86886.71352,77982.83328,4.40428799,39.14856492,60.54163758,224.6919061,144.0032022
72,2013-02-01,4.356258206,92797.80869,166184.2316,894002.2858,980258.1382,1746.913115,16702.69443,26811.99492,87229.5486,76367.51455,4.356258206,37.8258917,72.3294946,226.6776014,141.0387492
73,2013-01-01,4.319404801,95421.7497,156076.5996,911391.4189,851084.7269,1732.274774,17310.61994,26769.1115,89304.17967,73545.88947,4.319404801,39.25782221,72.16788445,230.6557772,138.3021893

In [21]:
for i in range(df.columns.get_loc("원자력"), len(df1.columns)):
    df.columns.values[i] =  '연료단가_' + df.columns.values[i]

NameError: name 'df1' is not defined